.game {
    width: 312px;
    text-align: center;
    font-family: system-ui;
    margin: auto;
    color: white;
    font-weight: 600;
}

.title {
    background-color: rgb(202, 148, 253);
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    font-size: 40px;
}

span {
    color: #8b0ba8;
}

.square {
    background: rgb(202, 148, 253);
    width: 100px;
    height: 100px;
    margin: 2px;
    float: left;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square:hover {
    background: #8b0ba8;
    cursor: pointer;
}
